* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

body {
  font-family: "Comfortaa", cursive;
  background: #080808;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  transition: 0.5s;
  z-index: 10;
}

header.sticky {
  padding: 10px 100px;
  background: rgba(8, 8, 8, 0.7);
  border-bottom: 1px solid #ff004f;
}

.logo {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  font-style: italic;
  font-family: "Great Vibes", cursive;
}

.logo span {
  color: #ff55bb;
}

ul {
  font-size: 1.2rem;
  display: flex;
}
li {
  list-style: none;
}

li a {
  text-decoration: none;
  margin: 0 10px;
  color: #fff;
  position: relative;
}

li a::after {
  content: "";
  position: absolute;
  background: red;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -3px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.btn-buy {
  margin: -15px 0;
  padding: 10px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #ff55bb;
  background: transparent;
  transition: background 0.3s;
  font-size: 1em;
  cursor: pointer;
}
.btn-buy a {
  color: #fff;
  text-decoration: none;
}

.btn-buy:hover {
  background: #ff55bb;
}

.hero {
  background: url(image/Pocket-Mirror-GoldenTraume_20220214_01.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.AudioBox {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 10px;
}

.AudioBox img {
  width: 30px;
  height: 30px;
}

.AudioBox:hover {
  border: 4px solid orange;
  transition: 0.3s;
}
.about {
  width: 100%;
  color: #fff;
  padding: 40px 100px;
  text-align: center;
  letter-spacing: 2px;
}

.about img {
  margin: 20px 0;
  width: 50%;
}

#imagePM {
  color: #fff;
  border-radius: 20px;
}
.logo-img {
  text-align: center;
  margin: 15px 0;
}

.imagePM {
  margin: 40px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin: 0 10px;
}
.image img {
  border-radius: 10px;
  width: 100%;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f) transparent;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 15px;
  transition: height 0.5s;
}

.layer h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.image:hover img {
  transform: scale(1.1);
}

.image:hover .layer {
  height: 100%;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: zoom-in;
}

.images2 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: zoom-in;
  margin-bottom: 20px;
}

.images-img {
  overflow: hidden;
  margin: 20px 15px;
  border-radius: 5px;
}

.images-img img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.images-gif {
  overflow: hidden;
  margin: 20px 40px;
  border-radius: 5px;
}
.images-gif img {
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.images-gif:hover img {
  transform: scale(1.3);
}

.images-img:hover img {
  transform: scale(1.4);
}

.contact {
  width: 100%;
  height: 100%;
  font-size: 1em;
  background: #262626;
  padding: 15px 0;
  text-align: center;
}

.contact img {
  width: 30px;
  margin: 0 5px;
}
